{{ define "title" }}
{{ .Page.Title }} | {{ .Site.Title}}
{{ end }}

{{ define "main" }}
<main class="container">
<h1>{{.Title}}</h1>
<table>
<tr>
<th>Week</th> <th>Name </th>  <th>Type </th> <th> Points </th>
</tr>
{{ $pages:= sort .Pages "Params.week" }}
{{ range $pages }}
<tr>
<td>{{ .Page.Params.week }}</td><td><a href="{{ .RelPermalink }}">{{ .Title }} </a></td> <td>{{ .Page.Params.Subtitle }}</td> <td> {{ .Page.Params.points }}</td>
</tr>
{{ end }}
</table>
   {{ .Content }}

</main>

{{ end }}