{{ define "title" }}
{{ .Page.Title }} | {{ .Site.Title}}
{{ end }}

{{ define "main" }}

<main class="container">
<h1>{{.Title}}</h1>

{{ $submodules := where .Pages "Params.type" "=" nil }}
{{ $tutorials := where .Pages "Params.type" "=" "tutorial" }}
{{ $others := where ( where .Pages "Params.type" "!=" nil) "Params.type" "!=" "tutorial" }}

{{ if ne (len $submodules) 0}}
<h2>Submodules</h2>
<div class="row g-3">
  {{ range $submodules }}
  {{ partial "card.html" . }}
  {{ end }}
</div>
{{ end }}

{{ if ne (len $tutorials) 0}}
<h2>Tutorials</h2>
<div class="row g-3">
  {{ range $tutorials }}
  {{ partial "card.html" . }}
  {{ end }}
</div>
{{ end }}


{{ if ne (len $others) 0}}
{{ if or (ne (len $tutorials) 0) (ne (len $submodules) 0)}}
<h2>Others</h2>
{{ end }}
<div class="row g-3">
  {{ range $others }}
  {{ partial "card.html" . }}
  {{ end }}
</div>
{{ end }}

{{ .Content }}

</main>

{{ end }}
