<div class="feature col-md-4">
<div class="card h-100" >
<div class="text-center">
  {{if .Params.image }}<img src="{{.Params.image}}" class="card-img-top" alt="" style="width:60%;">{{else}}
  {{end}}
</div>
  <div class="card-body d-flex flex-column">
    <h3 class="card-title">{{ partial "title_or_url.html" . }}</h3>
    <p class="card-text">{{.Summary | safeHTML }}</p>
    <a href="{{.RelPermalink}}" class="btn btn-outline-primary mt-auto">Go to {{ partial "title_or_url.html" . }}</a>
  </div>
</div>
</div>      