<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{ with .Site.GetPage "/" }}
        {{ range .Pages }}
        
        {{ $numSubPages := len .Pages }}
        {{ if (or (eq $numSubPages 0) (gt $numSubPages 15)) }}
      
        <li class="nav-item">
          <a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ else }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ .RelPermalink }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .Title }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ range .Pages}}
            <li><a class="dropdown-item" href=""{{.RelPermalink}}>{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ range .Site.Params.menu }}
        <li class="nav-item">
          {{ if eq .external false }}<a class="nav-link" href="{{ .link }}">{{ .name }}</a>{{ else }}
          <a class="nav-link" href="{{ .link }}"target="_blank">{{ .name }} <i class="bi bi-link"></i></a> {{ end }}
        </li>
        {{end}}
        
      </ul>
      <span class="navbar-text">
        {{ .Site.Params.description }}
      </span>

    </div>
  </div>
</nav>