<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{ range .Site.Params.menu }}
        <li class="nav-item">
          {{ if eq .external false }}<a class="nav-link" href="{{ .link }}">{{ .name }}</a>{{ else }}
          <a class="nav-link" href="{{ .link }}"target="_blank">{{ .name }} <i class="fas fa-external-link-alt"></i></a> {{ end }}
        </li>
        {{end}}
      </ul>
      <span class="navbar-text">
        Making better Foldable Robots
      </span>
    </div>
  </div>
</nav>
