{{ define "title" }}
{{ .Page.Title }} | {{ .Site.Title}}
{{ end }}

{{ define "main" }}

<main class="container">
<h1>{{.Title}}</h1>
<table>
<tr>
<th>Week</th> <th>Monday </th> <th>Wednesday</th><th> Assignments </th>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "01" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "01" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "02" }}
<tr>
<td> 01 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "02" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "03" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "04" }}
<tr>
<td> 02 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "03" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "05" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "06" }}
<tr>
<td> 03 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "04" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "07" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "08" }}
<tr>
<td> 04 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "05" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "09" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "10" }}
<tr>
<td> 05 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "06" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "11" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "12" }}
<tr>
<td> 06 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "07" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "13" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "14" }}
<tr>
<td> 07 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "08" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "15" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "16" }}
<tr>
<td> 08 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "09" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "17" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "18" }}
<tr>
<td> 09 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "10" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "19" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "20" }}
<tr>
<td> 10 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>
{{ $pages := where .Site.Pages "Params.week" "=" "11" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "21" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "22" }}
<tr>
<td> 11 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>
{{ $pages := where .Site.Pages "Params.week" "=" "12" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "23" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "24" }}
<tr>
<td> 12 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>
{{ $pages := where .Site.Pages "Params.week" "=" "13" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "25" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "26" }}
<tr>
<td> 13 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "14" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "27" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "28" }}
<tr>
<td> 14 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "15" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "29" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "30" }}
<tr>
<td> 15 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>

{{ $pages := where .Site.Pages "Params.week" "=" "16" }}
{{ $leca := where .Site.Pages "Params.lecture" "=" "31" }}
{{ $lecb := where .Site.Pages "Params.lecture" "=" "32" }}
<tr>
<td> 16 </td><td> {{ range $leca }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>  {{ range $lecb }} <a href="{{.RelPermalink}}">{{ partial "title_or_url2.html" . }} </a></br>{{ end }} </td> <td>{{ range $pages }} <a href="{{.RelPermalink}}">{{ partial "title_or_url.html" . }} </a> ({{ .Params.Subtitle }})</br>{{ end }}</td>
</tr>
</table>

{{ .Content }}

</main>
{{ end }}